<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
   <style>
       *{
           padding: 0;
           margin: 0;
           box-sizing: border-box;
       
       }

       body{
           display: grid;
           place-content: center;
         
       }

       h3, h4{
           text-align: center;
       }
       

      
   </style>
</head>
<body>
    <h3>Coxhoe Trail Run 2022 Registration Complete</h3>
    <h4>On The Day</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero dolore sapiente. Corporis saepe odio porro natus nihil perferendis voluptatibus, perspiciatis aspernatur, nemo architecto quo exercitationem doloribus, placeat ducimus. Ipsum.</p>
</body>
</html>
